<h1>Hello world</h1>

<!-- <div [ngSwitch]="role">
    <div *ngSwitchCase = "'User'">
        <h4>Welcome User!</h4>
    </div>

    <div *ngSwitchCase="'Admin'">
        <app-rooms></app-rooms>
    </div>

    <div *ngSwitchDefault>
        <h4>You are not authorized!</h4>
    </div>
</div> -->

<!-- <div>
    <ng-template #user></ng-template>
</div> -->


<!--here call the components-->
<app-container>
    <app-employee></app-employee>
    <app-rooms></app-rooms>
    <h1>This is from ng-content . If container component do not cntain ng-content we can't write like this inside app-conatainer tags</h1>
</app-container>
