<!-- Access multiple view using viewChild -->
<app-header></app-header>
<app-header></app-header>
<app-header></app-header>
<app-header></app-header>

<!-- <app-container>
    <h1>this is frm container</h1>
</app-container> -->

<!-- Interpolation binding -->
<h1>welcome to {{ hotelname }}</h1>
<div [hidden]="hideRooms">
  <!-- property binding -->
  <h3>
    Number of Rooms :
    <div [innerText]="numberOfRooms"></div>
  </h3>
</div>

<div *ngIf="mySelection">
  {{ mySelection | json }}
</div>
<br />

<button (click)="addRoom()">Add Room</button>

<!-- ondestroy check -->
<div *ngIf="hideRooms">
    <app-room-list
    [rooms]="rooms_list"
    (selectedRoom)="selectRoom($event)"
    [title]="title"
  >
  </app-room-list>
</div>


<button (click)="toggle()">Toggle</button>

<h3>Here I am going to print json pipe</h3>
{{ rooms | json }}
